<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <script src="/javascripts/sort_lectures.js"></script>
    <link rel="stylesheet" href="/stylesheets/recent-news-boxes.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header><a href="/">
        <p><img src="/images/logo.jpg" width="130px" alt="logo"></p>
      </a></header>
      <header>
        <p><a href="recent-news-boxes.html">Recent News</a></p>
      </a></header>

      <section>
        <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
        type="text/javascript"></script>

        <style type="text/css">
        @import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

        #feedControl {
        margin-top : 10px;
        margin-left: auto;
        margin-right: auto;
        width : 440px;
        font-size: 12px;
        color: #9CADD0;
        }
        </style>
        <script type="text/javascript">
        function load() {
        var feed ="http://feeds.bbci.co.uk/news/world/rss.xml";
        new GFdynamicFeedControl(feed, "feedControl");

        }
        google.load("feeds", "1");
        google.setOnLoadCallback(load);
        </script>
        <div id="body">
          <div id="feedControl">Loading...</div>
          </div> -->
      
      
<!-- vim: ts=2:sts=2:sw=2:et:tw=80
-->
